
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(background1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}


.Droplist{
  font-size: 13px;
font-family: "Roboto", "sans-serif";
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.Droplist .select{
  width: 85%;
}

.Droplist .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}



.form{
    position: relative;
    z-index: 1;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.form input{
    font-family: "Roboto", "sans-serif";
    outline: none;
    background: none;
    width: 100%;
    border: none;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    overflow:hidden;
    border-bottom: 1px solid #4CAF50;;
}



.form button{
    font-family: "Roboto", "sans-serif";
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,.form button:active{
    background: rgb(52, 131, 56);
}

.form .message{
    margin: 15px 0 0;
    color: black;
    font-size: 12px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form{
    display: none;
}

